.singer {
  min-width: 33rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fcfcfc;
  padding: 1.6rem;
  background-image: url('../../images/spotlight-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  &__img img {
    border-radius: 50%;
    max-width: 12rem;
  }
  &__caption {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: $font-medium;
    padding: 0.5rem 1rem;
    color: $color-light;
    background-color: #f508b7;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: inline-block;
  }
  &__name {
    font-size: 24px;
    color: $color-primary;
    text-transform: capitalize;
    text-align: right;
  }
}
