<section class="sidebar">
    <div class="toggle-menu" (click)="showSideBar()">
        <span><i class="fa fa-bars fa-5x"></i></span>
    </div>
    <div class="sidebar__inner">
        <ul class="sidebar__menu">
            <li class="sidebar__item">
                <a href="" routerLink="/home">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-home fa-5x"></i>
                    </div>            
                    <span class="sidebar__link">Trang chủ</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar active">
                        <i class="fa fa-landmark fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Khách hàng</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-users fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Người dùng</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-address-book fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Moduls</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-home fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Phân quyền</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="" routerLink="/topics">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-book fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Bài viết</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-home fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Khai báo</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-clipboard-list fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Báo cáo thống kê</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="">
                    <div class="icon icon--sidebar">
                        <i class="fa fa-cogs fa-5x"></i>
                    </div> 
                    <span class="sidebar__link">Cấu hình chung</span>
                </a>
            </li>
        </ul>
    </div>
</section>
