.student-table {
  font-size: 15px;
}
.student-table th,
td {
  min-width: 120px;
}

.btn {
  outline: none;
  padding: 5px 15px;
  border: none;
  text-align: center;
}

.modal {
  display: block;
}
.btn-close {
  padding: 10px;
  font-size: 15px;
  display: inline-block;
}

.group {
  margin-bottom: 10px;
}
.group input {
  min-width: 150px;
}
.group label {
  min-width: 80px;
}

.success,
.error,
.message-error {
  display: none;
}
