* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}
/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__logo img {
  max-width: 10rem;
}
.header__menu {
  display: none;
}
.header__menu.show-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  margin: 1rem 1.5rem;
  background: #171410e0;
}
.header__menu.show-menu .menu__item {
  border-bottom: 0.5px solid #ffffff47;
}
.header__menu.show-menu .menu__link {
  color: #fff;
}
.header__menu .menu__list {
  display: flex;
  flex-direction: column;
}
.menu__list .menu__item {
  padding-right: 0;
}
.menu__list .menu__link {
  display: block;
  padding: 1rem;
  color: #131313;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}
.menu__list .menu__link:hover {
  color: #fbb416;
  transition: all 0.3s ease-in-out;
}

.btn--toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  margin-right: 1rem;
  font-size: 28px;
  cursor: pointer;
  display: block;
}
@media screen and (min-width: 768px) {
  .header,
  .header__menu .menu__list {
    flex-direction: row;
    align-items: center;
  }
  .header__menu {
    display: block;
  }
  .menu__list .menu__item {
    padding-right: 2.5rem;
  }
  .menu__list .menu__item:last-child {
    padding-right: 0;
  }
  .btn--toggle {
    display: none;
  }
}
/* MAIN */

/* new */
.list-news {
  display: flex;
}
.news {
  /* min-width: 56.8rem; */
  height: 48rem;
  box-sizing: border-box;
  /* padding: 20rem; */
  background-image: url("../images/img01.jpg");
  position: relative;
  margin-bottom: 2rem;
}
.news--half {
  height: 24rem;
}
.news__content {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
  z-index: 999;
}
span.tag {
  font-size: 12px;
  color: #131313;
  background-color: #fbb416;
  padding: 0.5rem 0.8rem;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
}
span.tag > a {
  color: inherit;
}
span.tag i {
  margin-right: 0.5rem;
}
.news__content .news__title {
  font-size: 28px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.news__content .news__title--small {
  font-size: 18px;
  padding: 0 0.7rem;
}
.news__category > span,
.news__category > span i {
  font-size: 14px;
  margin-right: 0.5rem;
}
.news:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .news {
    margin-bottom: 0;
  }
}

/* articles */
.articles .btn--load {
  margin-left: 50%;
  transform: translateX(-50%);
}
.article__title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 2;
  margin-left: 10.5%;
}
.article__title h2::before,
.article__title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  border: 1px solid #131313;
  z-index: 1;
}
.article__title h2::before {
  right: 100%;
  margin-right: 1rem;
}
.article__title h2::after {
  left: 100%;
  margin-left: 1rem;
}
.article__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.article__img {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
}
.article__img > a {
  display: block;
}
.article__content {
  padding: 0 0.5rem;
}
.article-content__title {
  position: relative;
  margin-top: 1rem;
  font-size: 22px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 2rem;
}
.article__content .article-content__title a {
  color: #131313;
}
.article__content .article-content__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  border: 1px solid grey;
}
.article__desc {
  font-size: 15px;
  color: #191717c2;
  line-height: 1.5;
}
.article__content .article__category {
  font-size: 18px;
  color: #191717c2;
}
@media screen and (min-width: 768px) {
  .article__item {
    flex-direction: row;
    margin-bottom: 0rem;
  }
  .article__item:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .article__item:nth-child(2n) .article__content {
    text-align: right;
    padding-right: 5rem;
    padding-left: 1rem;
  }
  .article__img,
  .article__content {
    width: 50%;
  }
  .article__img {
    margin-bottom: 0;
  }
  .article__content {
    padding: 0 1rem 0 5rem;
  }
  .article-content__title {
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  .article__item:nth-child(2n)
    .article__content
    .article-content__title::before {
    right: 0;
    left: auto;
  }
}

/* btn */
.btn--load {
  color: #131313;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fbb416;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
  transition: 0.5s;
}
.btn--animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5c585880;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: 0 0;
  z-index: -1;
  border-radius: 0.5rem;
}
.btn--animation:hover::before {
  transform: scaleX(1);
}

/* footer */
#footer {
  background-color: #000;
  color: #fff;
  padding: 5rem 0;
}
.list-tags .tag {
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: #000;
  color: #e8e8e8;
  border: 1px solid #989393d9;
  transition: 0.5s;
}
.list-tags .tag:hover {
  background-color: #fbb416;
  color: #131313;
  cursor: pointer;
}

/* reviews */
#footer .title {
  color: #fbb416;
}
.reviews__inner {
  margin-top: 3rem;
}
.box {
  display: flex;
  margin-bottom: 2rem;
}
.box__img {
  position: relative;
  overflow: hidden;
}
.box__img .rating {
  position: absolute;
  top: 0%;
  right: 0;
  background-color: #fbb416;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  display: inline-block;
  color: #131313;
}
.box__content {
  padding-left: 2rem;
  color: #fff;
}
.box__title a {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 1rem;
}
.box__time {
  font-size: 13px;
}
.box__time i {
  margin-right: 0.5rem;
}
/* contact form */
.form .group-feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form .group-feild input,
.form .group-feild textarea {
  font-size: 15px;
  padding: 0.8rem;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}
.contact__form textarea {
  width: 100%;
}
.btn--submit {
  color: #131313;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fbb416;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  transition: 0.5s;
}
/* copyright */
.copyright {
  font-size: 13px;
  letter-spacing: 1px;
  color: #e8e8e8;
}
@media screen and (min-width: 768px) {
  .contact__form .group-feild {
    flex-direction: row;
  }
  .contact__form.form .group-feild input {
    margin-right: 1rem;
  }
}
