.title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 26px;
}
.form {
  max-width: 50%;
  margin: 0 auto;
  font-size: 16px;
  &__field {
    margin-bottom: 0.5rem;
  }
  .gender {
    display: flex;
    justify-content: flex-start;
    mat-radio-button {
      margin-right: 1rem;
    }
  }
  .section {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
}

.full-width {
  width: 100%;
}
